{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="../../src/css/home.css">
{% endblock %}

{% block body %}
	{{ parent() }}

	<div id="leftLoader"></div>
	<div id="rightLoader"></div>
	<div id="loader"></div>

	<div
		class="container my-3">
		<div class="card">
			<form action="/addNote.php" method="GET">
			<div class="card-body">
				<h5 class="card-title">
					Title

				</h5>
				<div class="form-group">
						<input class="form-control shadow-sm" id="title" placeholder="Title..." name="title" type="text"/>
				</div>
				<h5 class="card-title">
					Add a Note

				</h5>
				<div class="form-group">
					<textarea class="form-control" name="content" id="addTxt" rows="3" required></textarea>
				</div>
				<span id="error"></span>
				<button class="btn btn-primary" id="addBtn" type="submit" onclick="takeNote()">
					Add Note
				</button>
				</form>
			</div>
		</div>
		<div id="notes" class="row container-fluid">
			<ul class="list-group list-notes">

			</ul>
		</div>
	</div>


{% endblock %}

{% block js %}
	{{ parent() }}

	<script src="../../src/js/home/home.js')}}"></script>
{% endblock %}

